{% block right_menu %}
    {% load staticfiles %}
    <div class="accordion-fixed-top">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Бухгалтерский учет
                    </button>
                </h5>
            </div>
            <div id="card-content-1" class="">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action submenu">Основные
                            средства</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Нематериальные
                            активы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Расчеты с
                            персоналом</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Денежные
                            средства</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Запасы,
                            товары, готовая продукция</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Затраты.
                            Издержки. Себестоимость</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Финансовые
                            вложения</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Капитал и
                            резервы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Финансовые
                            результаты</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Бухгалтерская
                            отчетность</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading-2">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Налоговый учет
                    </button>
                </h5>
            </div>

            <div id="card-content-2" class="">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action submenu">НДС</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Акцизы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">НДФЛ</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Страховые
                            взносы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Налог на
                            прибыль</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Сборы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Водный
                            налог</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Государственная
                            пошлина</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">НДПИ</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">УСНО</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">ЕНВД</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Патентная
                            система налогообложения</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Транспортный
                            налог</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Налог на
                            игорный бизнес</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Налог на
                            имущество организаций</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Земельный
                            налог</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading-3">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        МСФО
                    </button>
                </h5>
            </div>

            <div id="card-content-3" class="">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action submenu">Основы
                            МСФО</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Трансформация
                            отчетности</a>
                        <a href="#"
                           class="list-group-item list-group-item-action submenu">Консолидация</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Словарь
                            МСФО</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading-4">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Организация учета
                    </button>
                </h5>
            </div>

            <div id="card-content-4" class="">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action submenu">Налоговые
                            декларации</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Первичные
                            документы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Учетная
                            политика </a>
                        <a href="#" class="list-group-item list-group-item-action submenu">План
                            счетов</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">ПБУ</a>
                        <a href="#"
                           class="list-group-item list-group-item-action submenu">Справочники</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Инвентаризация</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Ответственность</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Производственный
                            календарь</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Персонифицированный
                            учет</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Подтверждение
                            вида деятельности в ФСС</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">История
                            бухучета</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Электронный
                            документооборот</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="heading-5">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                        Информация
                    </button>
                </h5>
            </div>

            <div id="card-content-5" class="">
                <div class="card-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action submenu">Подборка
                            статей</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Бизнес-образование</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Зарегистрированные
                            компании</a>
                        <a href="#"
                           class="list-group-item list-group-item-action submenu">Пресс-релизы</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Реклама на
                            сайте</a>
                        <a href="#" class="list-group-item list-group-item-action submenu">Наши
                            банеры</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}